<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Tandang Sangar</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Oswald:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.png" type="image/png">
    <meta name="description" content="{{ excerpt or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ excerpt or metadata.description }}">
    
    {% if image %}
    <meta property="og:image" content="{{ metadata.url }}{{ image }}">
    {% else %}
    <meta property="og:image" content="{{ metadata.url }}/favicon.png">
    {% endif %}

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="twitter:title" content="{{ title or metadata.title }}">
    <meta property="twitter:description" content="{{ excerpt or metadata.description }}">
    <meta property="twitter:image" content="{{ metadata.url }}{{ image or '/favicon.png' }}">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body class="bg-[#f0f0f0] font-mono text-black antialiased selection:bg-[#ccff00] selection:text-black flex flex-col min-h-screen">

    {% include "partials/navbar.njk" %}

    <main class="flex-grow">
        {{ content | safe }}
    </main>

    {% include "partials/footer.njk" %}

</body>
</html>